*~
*#
.DS_Store
frontend/.stack-work/
frontend/all_pkg_path
frontend/ghc_lib_path
frontend/libAst.a
frontend/link_lib
frontend/link_search
frontend/linker_args
frontend/log
frontend/src/Ast.hi
frontend/Ast.rs
frontend/rts.rs
frontend/dist/*
frontend/src/Ast.o
frontend/src/Ast_stub.h
frontend/Parsing.rs
frontend/hs_closure_func.o
frontend/hs_closure_func.rs
frontend/libHsClosureFunc.a
frontend/libParsing.a
frontend/src/Parsing.hi
frontend/src/Parsing.o
frontend/src/Parsing_stub.h
rust-bindgen
rust-bindgen/*
backend/target/*
backend/Cargo.lock
