*~
*#
.DS_Store
frontend/.stack-work/
frontend/all_pkg_path
frontend/ghc_lib_path
frontend/libAst.a
frontend/link_lib
frontend/link_search
frontend/linker_args
frontend/log
frontend/src/Ast.hi
frontend/Ast.rs
frontend/rts.rs
frontend/dist/*
frontend/src/Ast.o
frontend/src/Ast_stub.h
rust-bindgen/*
backend/target/*
backend/Cargo.lock
